/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  text-align: center;
  background-color: #f5faed;
  font-family:'Poppins', sans-serif;
  color:#1b4332;
}
.text-left{
  text-align: left;
}
.head{
  text-align: center;
  color:#2d6a4f;
  font-weight: bold;
}
/* todo list */
.todo-list{
  display: inline-block; 
  margin: 25px;
  border: 1px ;
  /* solid #081c15; */
  background-color: #ecf5e2;
  border-radius: 8%;
  padding:0 20px 20px 20px;
  box-shadow: 2px 2px 4px  #ecf3d5, 2px 2px 4px #ccd5ae;
}
.todo-item{
  line-height: 2.5;
  font-size: 1rem;
}
/* cards */
.content-items{
  display: grid;
  grid-template-columns:50% 50%;
  line-height: 1;
  margin: 2rem 0;
}
.content-card{
  line-height: 2;
}
.content-items .content-card:nth-of-type(1),
.content-items .content-card:nth-of-type(2){
  margin-bottom: 2rem;
}
.content-card .content-img {
  height:auto;
  width:60%;
  border: transparent;
  border-radius: 2%;
  box-shadow: 2px 2px 4px  #f0face, 2px 2px 4px #ccd5ae;
}
.content-card .content-title{
  text-decoration: underline;
}

/* jokes */

.joke-list{
  margin-left: 2rem;
  /* font-size: 1.1rem; */
  padding: 2rem 0;
}

/* products */
.product-list{
  padding: 2rem 0;
}
.product-info h3{
  margin-left: 2rem;
  margin-bottom: 0rem;
}
.product-info p{
  margin-left: 2.5rem;
  margin-top: 0rem; 
}
/* greeting */
.greeting{
  margin:2rem 0;
}
.greeting img{
  width:30%;
  height:auto;
  border: transparent;
  border-radius: 2%;
  box-shadow: 2px 2px 4px  #f0face, 2px 2px 4px #ccd5ae;
}

.hooks{
  margin:2rem 0;
}


  

